systemLog:
  destination: file
  logAppend: false
  path: /var/log/mongodb/shr/mongos.log

storage:
  dbPath: /data/appdb
  journal:
    enabled: true
  wiredTiger:
    engineConfig:
       cacheSizeGB: 8

processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongod.pid
  timeZoneInfo: /usr/share/zoneinfo

net:
  port: 0000
  bindIp: 00000,xxxxxxxxxxxxxxx
  tls:
   mode: xxxxx
   certificateKeyFile: /var//KeyWCert.pem
   certificateKeyFilePassworxd: xxxxxxxxxxxx
   CAFile: /var/lib/mongodb/cert/CA_Root_Inter.pem
   allowConnectionsWithoutCertificates: true

#security:
#  authorization: enabled
#  clusterAuthMode: xxxx

replication:
  replSetName: appxxxxxx
