rs.initiate()
{% if ops_server_1 is defined and ops_server_1|length %}
rs.add("{{ ops_server_1 }}.opr.afsiep.net:37019")
{% elif ops_server_2 is defined and ops_server_2|length %}
rs.add("{{ ops_server_2 }}.opr.afsiep.net:37019")
{% elif ops_server_3 is defined and ops_server_3|length% %}
rs.add("{{ ops_server_3 }}.opr.afsiep.net:37019")
{% endif %}
