
#cat MongoDB_Status_Verify-op.sh

#!/bin/bash
# set -x
####################################################################
###   Script to Validate Database Availability                   ###
###   Author: MongoDB svc_automation                             ###
###   date: {{ ansible_date_time.date }}                         ###
###   ***********************                                    ###
####################################################################
### Script designed to Validate Database Availability.           ###
####################################################################
# --
DTT=`date +%y%m%d`
#EMAIL_LIST="PIVOT.Database@accenturefederal.com"
# --
###****************************************************************************###
###  MONGODB VALIDATE LOGS                                                     ###
###****************************************************************************###
# --
mkdir -p /tmp/MONGODB_VALIDATE
MNG_VAL=/tmp/MONGODB_VALIDATE/post_MongoDB_Validate.txt
# --
###****************************************************************************###
### Scrip Main Code                                                            ###
###****************************************************************************###
# --
echo " " > $MNG_VAL
echo "********************************************************************" >> $MNG_VAL
echo "***    DATABASE AVAILABILITY VALIDATION STATUS,  DATE: $DTT    ***" >> $MNG_VAL
echo "********************************************************************" >> $MNG_VAL
echo " " >> $MNG_VAL
# --
SRVR={{ target_hosts }}
#'<SERVER(S) separated by space name>'
Port_nmbr=37018
# --
for a in $SRVR
  do
# --
  echo " " >> $MNG_VAL
# --
  echo "====================================================================" >> $MNG_VAL
  echo "       VALIDATE ALL DATABASES ON ${a} SERVER DATE: $DTT " >> $MNG_VAL
  echo "====================================================================" >> $MNG_VAL
  echo " " >> $MNG_VAL
# --
  DBS=`mongo ${a}:$Port_nmbr/admin -u {{ svc_ansible_automation }} -p {{ svc_ansible_automation_password }} --authenticationDatabase admin --eval 'print(db.getMongo().getDBNames())' | grep -i 'config' | sed s/","/' '/g`
  echo "EXISTING DATABASES ON ${a} SERVER ARE: " >> $MNG_VAL
  echo "====================================================================" >> $MNG_VAL
        mongo ${a}:$Port_nmbr/admin -u {{ svc_ansible_automation }} -p {{ svc_ansible_automation_password }} --authenticationDatabase admin --eval 'db.getMongo().getDBNames()' | sed -e '1,4d' >> $MNG_VAL
  echo "********************************************************************"  >> $MNG_VAL
# --
#     for i in $DBS
#       do
#       echo " " >> $MNG_VAL
#       echo "COLLECTIONS EXIST ON ${i} DATABASE ARE: " >> $MNG_VAL
#       echo "====================================================================" >> $MNG_VAL
# --
#         mongo ${a}:$Port_nmbr/${i} -u {{ svc_ansible_automation }} -p {{ svc_ansible_automation_password }} --authenticationDatabase admin  --eval "db.getCollectionNames()" | grep '"'| sed '/UUID/d' >> $MNG_VAL
#          Vrfy_mng=`mongo ${a}:$Port_nmbr/admin -u {{ svc_ansible_automation }} -p {{ svc_ansible_automation_password }} --authenticationDatabase admin --eval "db.getCollectionNames()" | grep '"'| sed '/UUID/d' | wc -l`
#          Col_nmb=0
#               if [ $Vrfy_mng -gt $Col_nmb ]; then
#                    echo ' ' >> $MNG_VAL
#                    echo " STATUS" >> $MNG_VAL
#                    echo " ******" >> $MNG_VAL
#                    echo " MongoDB ${i} is Currently UP and RUNNING" >> $MNG_VAL
#               else
#                    echo ' ' >> $MNG_VAL
#                    echo " STATUS" >> $MNG_VAL
#                    echo " ******" >> $MNG_VAL
#                    echo " MongoDB ${i} is Currently DOWN Plese Verify" >> $MNG_VAL
#               fi
#               echo " " >> $MNG_VAL
#               echo "********************************************************************" >> $MNG_VAL
#               echo " "
#               echo " " >> $MNG_VAL
#     done
done

echo " MONGODB Database Validation Post-Maintanance window. date/time ${DTT} Please Manually review the log and address the concerns if there is any." 
#| mailx -r "<Sender>" -s " MONGODB DATABASE VALIDATION ${DTT} " -a ${MNG_VAL} $EMAIL_LIST
###****************************************************************************###
# set +x
