EXISTING PROCESSES ON {{ ansible_hostname }} SERVER ARE
    {{ processes.stdout_lines }}
{% if 'configsvr' in cluster_role %}
    {{ mongos_processes.stdout_lines }}
{% endif %}
{% if secondary.stdout == 'false'%}
EXISTING DATABASES ON {{ ansible_hostname }} SERVER ARE
    {{ shell_result.stdout }}
COLLECTIONS EXIST ON {{ ansible_hostname }} DATABASE ARE
    {{ shell2_result.stdout }}
{% endif %}