{% if shard1a is defined %}
db.adminCommand( { addshard : "sh1_{{ env }}/"+"{{ shard1a }}.opr.afsiep.net:37040" } );
{% endif %}
{% if shard2a is defined %}
db.adminCommand( { addshard : "sh2_{{ env }}/"+"{{ shard2a }}.opr.afsiep.net:47017" } );
{% endif %}
{% if shard3a is defined %}
db.adminCommand( { addshard : "sh3_{{ env }}/"+"{{ shard3a }}.opr.afsiep.net:57017" } );
{% endif %}
