config = { _id: "config_{{ env }}",
        members:[
         { _id : 0, host : "{{ configsvr_rsa }}.opr.afsiep.net:57040", priority: 100 },
         { _id : 1, host : "{{ configsvr_rsb }}.opr.afsiep.net:57041" },
         { _id : 2, host : "{{ configsvr_rsc }}.opr.afsiep.net:57042" }
        ]
};
var output = rs.initiate(config);
printjson(output)
