config = { _id: "sh1_{{ env }}",
	members:[
         { _id : 0, host : "{{ shard1a }}.opr.afsiep.net:{{ shard1a_port }}", priority: 100 },
         { _id : 1, host : "{{ shard1b }}.opr.afsiep.net:{{ shard1b_port }}" },
         { _id : 2, host : "{{ shard1c }}.opr.afsiep.net:{{ shard1c_port }}" }
	]
};
var output = rs.initiate(config);
printjson(output)

