systemLog:
  destination: file
{% if item == 'mongos0' %}
  path: "/var/log/mongodb/{{ env }}/mongos0.log"
{% endif %}
{% if item == 'mongos1' %}
  path: "/var/log/mongodb/{{ env }}/mongos1.log"
{% endif %}
{% if item == 'mongos2' %}
  path: "/var/log/mongodb/{{ env }}/mongos2.log"
{% endif %}
processManagement:
  fork: true
{% if item == 'mongos0' %}
  pidFilePath: "/var/run/mongodb/{{ env }}/mongos-37017.pid"
{% endif %}
{% if item == 'mongos1' %}
  pidFilePath: "/var/run/mongodb/{{ env }}/mongos-37018.pid"
{% endif %}
{% if item == 'mongos2' %}
  pidFilePath: "/var/run/mongodb/{{ env }}/mongos-37019.pid"
{% endif %}
#security:
#  keyFile: "/data/{{ env }}/keyfile.pem"
net:
{% if item == mongos0 %}
  port: 37017
{% endif %}
{% if item == mongos0 %}
  port: 37018
{% endif %}
{% if item == mongos0 %}
  port: 37019
{% endif %}
  bindIp: localhost,{{ ansible_hostname }}.opr.afsiep.net
  tls:
   mode: allowTLS
   certificateKeyFile: /var/lib/mongodb/cert/KeyWCert.pem
   certificateKeyFilePassword: {{ tlspass }}
sharding:
  configDB: config_{{ env }}/{{ cluster1 }}.opr.afsiep.net:57040,{{ cluster2 }}.opr.afsiep.net:57041,{{ cluster3 }}.opr.afsiep.net:57042
