[Unit]
Description=MongoDB Config Database Server
Documentation=https://docs.mongodb.org/manual
After=network-online.target
Wants=network-online.target

[Service]
User=mongod
Group=opr-db-admin
{% if configsvr is defined and ansible_hostname == configsvr %}
Environment="OPTIONS=-f /etc/mongo/{{ env }}/{{ repset }}.cfg"
{% endif %}
{% if shard1 is defined and ansible_hostname == shard1 %}
Environment="OPTIONS=-f /etc/mongo/{{ env }}/shard1_{{ repset }}.cfg"
{% endif %}
{% if shard2 is defined and ansible_hostname == shard2 %}
Environment="OPTIONS=-f /etc/mongo/{{ env }}/shard2_{{ repset }}.cfg"
{% endif %}
{% if shard3 is defined and ansible_hostname == shard3 %}
Environment="OPTIONS=-f /etc/mongo/{{ env }}/shard3_{{ repset }}.cfg"
{% endif %}
EnvironmentFile=-/etc/sysconfig/mongod
ExecStart=/usr/bin/mongod $OPTIONS
ExecStartPre=/usr/bin/mkdir -p /var/run/mongodb/{{ env }}
ExecStartPre=/usr/bin/chown mongod:mongod /var/run/mongodb/{{ env }}
ExecStartPre=/usr/bin/chmod 0755 /var/run/mongodb/{{ env }}
PermissionsStartOnly=true
{% if configsvr is defined and ansible_hostname == configsvr %}
PIDFile=/var/run/mongodb/{{ env }}/mongod-config-{{ repset }}.pid
{% endif %}
{% if shard1 is defined and ansible_hostname == shard1 %}
PIDFile=/var/run/mongodb/{{ env }}/mongod-sh1-{{ repset }}.pid
{% endif %}
{% if shard2 is defined and ansible_hostname == shard2 %}
PIDFile=/var/run/mongodb/{{ env }}/mongod-sh2-{{ repset }}.pid
{% endif %}
{% if shard3 is defined and ansible_hostname == shard3 %}
PIDFile=/var/run/mongodb/{{ env }}/mongod-sh3-{{ repset }}.pid
{% endif %}
Type=forking
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000
# locked memory
LimitMEMLOCK=infinity
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false
# Recommended limits for mongod as specified in
# https://docs.mongodb.com/manual/reference/ulimit/#recommended-ulimit-settings

[Install]
WantedBy=multi-user.target
