#jinja2: lstrip_blocks: "True"
{% if ansible_hostname == configsvr_rsa %}
{% set id_prefix = "config" %}
{% set id_suffix = "_{{ env }}" %}
{% set member1 = { _id : 0, host : configsvr_rsa + ".opr.afsiep.net:" + configsvr_rsa_port, priority: 100 } %}
{% set member2 = configsvr_rsb is defined and configsvr_rsb is not none and { _id : 1, host : configsvr_rsb + ".opr.afsiep.net:" + configsvr_rsb_port } or None %}
{% set member3 = configsvr_rsc is defined and configsvr_rsc is not none and { _id : 2, host : configsvr_rsc + ".opr.afsiep.net:" + configsvr_rsc_port } or None %}
{% elif ansible_hostname == shard1a %}
{% set id_prefix = "sh1" %}
{% set id_suffix = "_{{ env }}" %}
{% set member1 = { _id : 0, host : shard1a + ".opr.afsiep.net:" + shard1a_port, priority: 100 } %}
{% set member2 = shard1b is defined and shard1b is not none and { _id : 1, host : shard1b + ".opr.afsiep.net:" + shard1b_port } or None %}
{% set member3 = shard1c is defined and shard1c is not none and { _id : 2, host : shard1c + ".opr.afsiep.net:" + shard1c_port } or None %}
{% endif %}
{% set members = [ member1, member2, member3 ] | select('defined') | list %}
{% set config = { _id: id_prefix + id_suffix, members: members } %}
var output = rs.initiate({{ config | tojson }});
printjson(output)

