#jinja2: lstrip_blocks: "True"
{% if configsvr_rsa is defined and ansible_hostname == configsvr_rsa %}
config = { _id: "config_{{ env }}",
        members:[
         { _id : 0, host : "{{ configsvr_rsa }}.opr.afsiep.net:{{ configsvr_rsa_port }}", priority: 100 },
{% if configsvr_rsb is defined and configsvr_rsb is string %}
         { _id : 1, host : "{{ configsvr_rsb }}.opr.afsiep.net:{{ configsvr_rsb_port }}" },
{% endif %}
{% if configsvr_rsc is defined and configsvr_rsc is string %}
         { _id : 2, host : "{{ configsvr_rsc }}.opr.afsiep.net:{{ configsvr_rsc_port }}" }
{% endif %}
        ]
};
var output = rs.initiate(config);
printjson(output)
{% elif shard1a is defined and ansible_hostname == shard1a %}
config = { _id: "sh1_{{ env }}",
        members:[
         { _id : 0, host : "{{ shard1a }}.opr.afsiep.net:{{ shard1a_port }}", priority: 100 },
{% if shard1b is defined and shard1b is string %}
         { _id : 1, host : "{{ shard1b }}.opr.afsiep.net:{{ shard1b_port }}" },
{% endif %}
{% if shard1c is defined and shard1c is string %}
         { _id : 2, host : "{{ shard1c }}.opr.afsiep.net:{{ shard1c_port }}" }
{% endif %}
        ]
};
var output = rs.initiate(config);
printjson(output)
{% endif %}
