db.createUser(
{       user: "gmani",
        pwd: "Qwerty#12345px",
"roles" : [
    { "role" : "readWrite",
      "db" : "{{ appname }}_{{ env }}_db"
    },
    { "role" : "userAdminAnyDatabase",
      "db" : "admin"
    },
    { "role" : "clusterAdmin",
      "db" : "admin"
    },
    { "role" : "root",
      "db" : "admin"
    }
]});

db.createUser(
{       user: "amkanda",
        pwd: "Qwerty#12345px",
"roles" : [
    { "role" : "readWrite",
      "db" : "{{ appname }}_{{ env }}_db"
    },
    { "role" : "userAdminAnyDatabase",
      "db" : "admin"
    },
    { "role" : "clusterAdmin",
      "db" : "admin"
    },
    { "role" : "root",
      "db" : "admin"
    }
]});

db.createUser(
{       user: "superUserAdmin",
        pwd: "Qwerty#12345px",
"roles" : [
    { "role" : "userAdminAnyDatabase",
      "db" : "admin"
    }
]});

db.createUser(
{       user: "svc_monitoring",
        pwd: "LiB13JbRhm#j!",
"roles" : [
    { "role" : "read",
      "db" : "{{ appname }}_{{ env }}_db"
    },
    { "role" : "clusterMonitor",
      "db" : "admin"
    }
]});
