use admin
db.createUser(
{       user: "gmani",
        pwd: "Qwerty#12345px",
"roles" : [
    { "role" : "readWrite",
      "db" : "irps_ar_prod"
    },
    { "role" : "userAdminAnyDatabase",
      "db" : "admin"
    },
    { "role" : "clusterAdmin",
      "db" : "admin"
    },
    { "role" : "root",
      "db" : "admin"
    }
]});

db.createUser(
{       user: "jcantu",
        pwd: "Qwerty#12345px",
"roles" : [
    { "role" : "readWrite",
      "db" : "irps_ar_prod"
    },
    { "role" : "userAdminAnyDatabase",
      "db" : "admin"
    },
    { "role" : "clusterAdmin",
      "db" : "admin"
    },
    { "role" : "root",
      "db" : "admin"
    }
]});

db.createUser(
{       user: "superUserAdmin",
        pwd: "Qwerty#12345px",
"roles" : [
    { "role" : "userAdminAnyDatabase",
      "db" : "admin"
    }
]});

db.createUser(
{       user: "svc_monitoring",
        pwd: "LiB13JbRhm#j!",
"roles" : [
    { "role" : "read",
      "db" : "irps_prod"
    },
    { "role" : "clusterMonitor",
      "db" : "admin"
    }
]});
