systemLog:
  destination: file
{% if configsvr_rsa is defined and ansible_hostname == configsvr_rsa %}
  path: "/var/log/mongodb/{{ env }}/config-rs_a.log"
{% endif %}
{% if configsvr_rsb is defined and ansible_hostname == configsvr_rsb %}
  path: "/var/log/mongodb/{{ env }}/config-rs_b.log"
{% endif %}
{% if configsvr_rsc is defined and ansible_hostname == configsvr_rsc %}
  path: "/var/log/mongodb/{{ env }}/config-rs_c.log"
{% endif %}
  logAppend: true
  logRotate: reopen
processManagement:
  fork: true
{% if configsvr_rsa is defined and ansible_hostname == configsvr_rsa %}
  pidFilePath: "/var/run/mongodb/{{ env }}/mongod-config-rs_a.pid"
{% endif %}
{% if configsvr_rsb is defined and ansible_hostname == configsvr_rsb %}
  pidFilePath: "/var/run/mongodb/{{ env }}/mongod-config-rs_b.pid"
{% endif %}
{% if configsvr_rsc is defined and ansible_hostname == configsvr_rsc %}
  pidFilePath: "/var/run/mongodb/{{ env }}/mongod-config-rs_c.pid"
{% endif %}
security:
   authorization: "enabled"
   clusterAuthMode: x509
   ldap:
      servers: "opr.afsiep.net:636"
      bind:
{% if 'env' is defined and 'env' == prod %}
         queryUser: "svc_mdbprd_ldap@opr.afsiep.net"
         queryPassword: "MI!iseji7ubope"
{% else %}
         queryUser: "svc_mdbnprd_ldap@opr.afsiep.net"
         queryPassword: "36W=qR*AeoI0:h"
{% endif %}
      transportSecurity: tls
      userToDNMapping:
         '[
            {
               match : "(.+)",
               ldapQuery: "ou=IEP,DC=opr,DC=afsiep,DC=net??sub?(userPrincipalName={0})"
            }
         ]'
      authz:
         queryTemplate: "{USER}?memberOf?base"
setParameter:
   authenticationMechanisms: PLAIN, SCRAM-SHA-1, SCRAM-SHA-256
   ocspEnabled: falsenet:
{% if configsvr_rsa is defined and ansible_hostname == configsvr_rsa %}
  port: 57040
{% endif %}
{% if configsvr_rsb is defined and ansible_hostname == configsvr_rsb %}
  port: 57041
{% endif %}
{% if configsvr_rsc is defined and ansible_hostname == configsvr_rsc %}
  port: 57042
{% endif %}
  bindIp: localhost,{{ ansible_hostname }}.opr.afsiep.net
  tls:
   mode: preferTLS
   CAFile: /var/lib/mongodb/cert/CA_Root_Inter.pem
   allowConnectionsWithoutCertificates: true
sharding:
  clusterRole: configsvr
replication:
  replSetName: config_{{ env }}
storage:
{% if configsvr_rsa is defined and ansible_hostname == configsvr_rsa %}
  dbPath: /data/{{ env }}/config/rs_a
{% endif %}
{% if configsvr_rsb is defined and ansible_hostname == configsvr_rsb %}
  dbPath: /data/{{ env }}/config/rs_b
{% endif %}
{% if configsvr_rsc is defined and ansible_hostname == configsvr_rsc %}
  dbPath: /data/{{ env }}/config/rs_c
{% endif %}
#  wiredTiger:
#    engineConfig:
#      cacheSizeGB: 5

