---
- block:
#creates a directory to copy mongodb-enterprise pkg into#
  - name: create a working directory /opt/scripts/
    file:
      path: /opt/scripts/
      state: directory
      owner: root
      group: root

  - name: copy mongo package into /opt/scripts/
    unarchive:
      src: https://va1artifactoryirs.mgt.afsiep.net/artifactory/Linux-Shared/MongoDB/mongo.tar.gz
      dest: /opt/scripts/
      remote_src: yes
      list_files: yes

  - name: install the RPM key
    rpm_key:
      state: present
      key: /opt/scripts/mongodb/server-5.0.asc

  - name: install mongo services
    yum:
      name:
        - /opt/scripts/mongodb/mongodb-enterprise-cryptd-5.0.8-1.el8.x86_64.rpm
        - /opt/scripts/mongodb/mongodb-enterprise-shell-5.0.8-1.el8.x86_64.rpm
        - /opt/scripts/mongodb/mongodb-enterprise-server-5.0.8-1.el8.x86_64.rpm
        - /opt/scripts/mongodb/mongodb-enterprise-mongos-5.0.8-1.el8.x86_64.rpm
      state: installed

#stops mongod.service so it wont look for the wrong conf file and fail#
  - name: stop mongod
    systemd:
      name: mongod
      state: stopped
      enabled: no

#cleans up directories and removes unwanted files#
  - name: remove unwanted files
    file:
      path: "{{ item }}"
      state: absent
    loop:
      - /opt/scripts/mongodb
      - /tmp/mongo*.sock
      - /etc/mongod.conf
  ignore_errors: yes
  tags:
    - base

- block:
#creates a directory to install mongodb tools#    
  - name: create a working directory /usr/local/bin/
    file:
      path: /usr/local/bin/
      state: directory
      owner: root
      group: root

  - name: copy mongo database tools into /usr/local/bin
    unarchive:
      src: https://va1artifactoryirs.mgt.afsiep.net/artifactory/Linux-Shared/MongoDB/mongodb-database-tools-rhel80-x86_64-100.5.3.tgz
      dest: /usr/local/bin/
      remote_src: yes
      list_files: yes
  
  - name: copy mongo database BI into /usr/local/bin
    unarchive:
      src: https://va1artifactoryirs.mgt.afsiep.net/artifactory/Linux-Shared/MongoDB/mongodb-bi-linux-x86_64-rhel80-v2.14.4.tgz
      dest: /usr/local/bin/
      remote_src: yes
      list_files: yes
  tags:
    - dbtools


