---
- block:
  - name: (add_shards.yml) add shard1a to cluster
    shell: "mongo {{ ansible_fqdn }}:37018/admin --eval 'sh.addShard(\"sh1_{{ env }}/{{ shard1a }}.opr.afsiep.net:{{ shard1a_port }}\")' -u amkanda -p Qwerty#12345px"
    register: add_shard1a_result
    when: shard1a is defined and shard1a|length 
    ignore_errors: yes

  - name: (add_shards.yml) show result
    debug:
      var: add_shard1a_result

  - name: (add_shards.yml) add shard2a to cluster
    shell: "mongo {{ ansible_fqdn }}:37018/admin --eval 'sh.addShard(\"sh2_{{ env }}/{{ shard2a }}.opr.afsiep.net:{{ shard2a_port }}\")' -u amkanda -p Qwerty#12345px"
    register: add_shard2a_result
    when: shard2a is defined and shard2a|length
    ignore_errors: yes

  - name: (add_shards.yml) show result
    debug:
      var: add_shard2a_result

  - name: (add_shards.yml) add shard3a to cluster
    shell: "mongo {{ ansible_fqdn }}:37018/admin --eval 'sh.addShard(\"sh3_{{ env }}/{{ shard3a }}.opr.afsiep.net:{{ shard3a_port }}\")' -u amkanda -p Qwerty#12345px"
    register: add_shard3a_result
    when: shard3a is defined and shard3a|length
    ignore_errors: yes

  - name: (add_shards.yml) show result
    debug:
      var: add_shard3a_result
  ignore_errors: yes
  when: ansible_hostname == {{ item.name }}  
