---
- name: install mongo dbtools
  yum:
    name: '{{ dbtools }}'
    state: installed
    enablerepo: AFSIEP_MongoDB_Enterprise_MongoDB5-RHEL8-x86_64
    disablerepo: AFSIEP_MongoDB_Enterprise_MongoDB5-RHEL8-x86_64
    skip_broken: yes

