systemLog:
  destination: file
  path: "/var/log/mongo/{{ env }}/config-{{ repset }}.log"
processManagement:
  fork: true
  pidFilePath: "/var/run/mongo/mongod-config-{{ repset }}.pid"
security:
  keyFile: "/data/{{ env }}/keyfile.pem"
net:
  port: {{ configsvr_port }}
  bindIp: localhost,{{ ansible_hostname }}
  tls:
   mode: allowTLS
   certificateKeyFile: /var/lib/mongo/cert/KeyWCert.pem
   certificateKeyFilePassword: {{ tlspass }}
sharding:
  clusterRole: configsvr
replication:
  replSetName: config_{{ env }}
storage:
  dbPath: /data/{{ env }}/config/{{ repset }}
  wiredTiger:
    engineConfig:
      cacheSizeGB: 5

