[Unit]
Description=mongos
After=syslog.target
After=network.target

[Service]
User=mongod
Group=opr-db-admin
PIDFile=/var/run/mongodb/{{ env }}/mongos-37018.pid
PermissionsStartOnly=true
ExecStart=/usr/bin/mongos --quiet \
    --config /etc/mongo/{{ env }}/mongoS1.cfg 
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitNPROC=64000
TasksAccounting=false

[Install]
WantedBy=multi-user.target
