systemLog:
  destination: file
  path: "/var/log/mongodb/dsit/sh2-rs_a.log"
processManagement:
  fork: true
security:
  keyFile: "/data/dsit/keyfile.pem"
net:
{% if ansible_hostname == target %}
  port: 1
{% endif %} 
{% if ansible_hostname == shard1 %}
  port: 2
{% endif %}
{% if ansible_hostname == shard2 %}
  port: 3
{% endif %}
  bindIp: localhost,{{ ansible_hostname }}
sharding:
  clusterRole: shardsvr
replication:
  replSetName: repl1
storage:
  dbPath: /data/dsit/shard2/rs_a
  wiredTiger:
    engineConfig:
      cacheSizeGB: 2
