systemLog:
  destination: file
  path: "/var/log/mongo/{{ env }}/mongoS1.log"
processManagement:
  fork: {{ fork }}
  pidFilePath: "/var/run/mongo/mongod-{{ repname[0] }}-{{ repset[0] }}.pid"
security:
  keyFile: "/data/{{ env }}/keyfile.pem"
net:
  port: {{ mongos_port }}
  bindIp: localhost,{{ ansible_hostname }}
  tls:
   mode: allowTLS
   certificateKeyFile: /var/lib/mongo/cert/KeyWCert.pem
   certificateKeyFilePassword: {{ tlspass }}
sharding:
  configDB: {{ repname[0] }}/{{ cluster }}

