systemLog:
  destination: file
  path: "/var/log/mongodb/{{ env }}/{{ replName[3] }}-{{ sys[0] }}.log"
processManagement:
  fork: {{ fork }}
security:
  keyFile: "/data/{{ env }}/keyfile.pem"
net:
  port: {{ port[0] }}
  bindIp: localhost,{{ ansible_hostname }}
sharding:
  clusterRole: {{ servertype[1] }}
replication:
  replSetName: {{ replName[3] }}_{{ env }}
storage:
  dbPath: /data/{{ env }}/{{ shard[0] }}/{{ sys[0] }}
  wiredTiger:
    engineConfig:
      cacheSizeGB: 2

