systemLog:
  destination: file
  path: "/var/log/mongodb/{{ env }}/config-{{ repset }}.log"
processManagement:
  fork: true
  pidFilePath: "/var/run/mongodb/mongod-config-{{ repset }}.pid"
#security:
#  keyFile: "/data/{{ env }}/keyfile.pem"
net:
  port: {{ configsvr_port }} 
  bindIp: localhost,{{ ansible_hostname }}.opr.afsiep.net
  tls:
   mode: allowTLS
   certificateKeyFile: /var/lib/mongodb/cert/KeyWCert.pem
   certificateKeyFilePassword: {{ tlspass }}
sharding:
  clusterRole: configsvr
replication:
  replSetName: config_{{ env }}
storage:
  dbPath: /data/{{ env }}/config/{{ repset }}
#  wiredTiger:
#    engineConfig:
#      cacheSizeGB: 5

