systemLog:
  destination: file
  path: "/var/log/mongo/{{ env }}/mongoS1.log"
processManagement:
  fork: true
  pidFilePath: "/var/run/mongo/mongos-{{ mongos_port }}.pid"
security:
  keyFile: "/data/{{ env }}/keyfile.pem"
net:
  port: {{ mongos_port }}
  bindIp: localhost,{{ ansible_hostname }}
  tls:
   mode: allowTLS
   certificateKeyFile: /var/lib/mongo/cert/KeyWCert.pem
   certificateKeyFilePassword: {{ tlspass }}
sharding:
  configDB: config_{{ env }}/{{ cluster }}

