systemLog:
  destination: file
  path: "/var/log/mongo/{{ env }}/{{ repname[0] }}-{{ repset[0] }}.log"
processManagement:
  fork: {{ fork }}
  pidFilePath: "/var/run/mongo/mongod-{{ repname[0] }}-{{ repset[0] }}.pid"
security:
  keyFile: "/data/{{ env }}/keyfile.pem"
net:
  port: {{ shard1_port }}
  bindIp: localhost,{{ ansible_hostname }}
  tls:
   mode: allowTLS
   certificateKeyFile: /var/lib/mongo/cert/KeyWCert.pem
   certificateKeyFilePassword: {{ tlspass }}
sharding:
{% if ansible_hostname == configsvr %}
  clusterRole: configsvr
{% endif %}
{% if ansible_hostname == shard['1-3'] %}
  clusterRole: shardsvr
{% endif %}
replication:
  replSetName: {{ repname[0] }}_{{ env }}
storage:
  dbPath: /data/{{ env }}/{{ repname[0] }}/{{ repset[0] }}
  wiredTiger:
    engineConfig:
      cacheSizeGB: {{ cachesize }}

