systemLog:
  destination: file
  path: "/var/log/mongo/{{ env }}/{{ repname[0] }}-{{ repset[0] }}.log"
processManagement:
  fork: {{ fork }}
  pidFilePath: "/var/run/mongo/mongod-{{ repname[0] }}-{{ repset[0] }}.pid"
security:
  keyFile: "/data/{{ env }}/keyfile.pem"
net:
  port: {{ shard2_port }}
  bindIp: localhost,{{ ansible_hostname }}
  tls:
   mode: allowTLS
   certificateKeyFile: /var/lib/mongo/cert/KeyWCert.pem
   certificateKeyFilePassword: 22w#SBR5nfvZOt23
sharding:
  clusterRole: {{ servertype[1] }}
replication:
  replSetName: {{ repname[0] }}_{{ env }}
storage:
  dbPath: /data/{{ env }}/{{ repname[0] }}/{{ repset[0] }}
  wiredTiger:
    engineConfig:
      cacheSizeGB: {{ cachesize }}

