#jinja2: lstrip_blocks: "True"
config = { _id: "{{ item.repset }}",
        members:[
         { _id : 0, host : "{{ configsvr_rsa }}.opr.afsiep.net:{{ configsvr_rsa_port }}", priority: 100 },
{% if configsvr_rsb is defined and configsvr_rsb|length %}
         { _id : 1, host : "{{ configsvr_rsb }}.opr.afsiep.net:{{ configsvr_rsb_port }}" },
{% endif %}
{% if configsvr_rsc is defined and configsvr_rsc|length %}
         { _id : 2, host : "{{ configsvr_rsc }}.opr.afsiep.net:{{ configsvr_rsc_port }}" }
{% endif %}
        ]
};
var output = rs.initiate(config);
printjson(output)
