config = { _id: "config_{{ env }}",
        members:[
         { _id : 0, host : "{{ configsvr_rsa }}.opr.afsiep.net:{{ configsvr_rsa_port }}", priority: 100 },
         { _id : 1, host : "{{ configsvr_rsb }}.opr.afsiep.net:{{ configsvr_rsb_port }}" },
         { _id : 2, host : "{{ configsvr_rsc }}.opr.afsiep.net:{{ configsvr_rsc_port }}" }
        ]
};
var output = rs.initiate(config);
printjson(output)
