[Unit]
Description=MongoDB Shard2 Database Server
Documentation=https://docs.mongodb.org/manual
After=network-online.target
Wants=network-online.target
After=mongo.service
Requires=mongo.service

[Service]
User=mongod
Group=opr-db-admin
{% if shard2a is defined and ansible_hostname == shard2a %}
Environment="OPTIONS=-f /etc/mongo/{{ env }}/shard2_rs_a.cfg"
{% endif %}
{% if shard2b is defined and ansible_hostname == shard2b %}
Environment="OPTIONS=-f /etc/mongo/{{ env }}/shard2_rs_b.cfg"
{% endif %}
{% if shard2c is defined and ansible_hostname == shard2c %}
Environment="OPTIONS=-f /etc/mongo/{{ env }}/shard2_rs_c.cfg"
{% endif %}
EnvironmentFile=-/etc/sysconfig/mongod
ExecStart=/usr/bin/mongod $OPTIONS
ExecStartPre=/usr/bin/mkdir -p /var/run/mongodb/{{ env }}
ExecStartPre=/usr/bin/chown mongod:mongod /var/run/mongodb/{{ env }}
ExecStartPre=/usr/bin/chmod 0755 /var/run/mongodb/{{ env }}
PermissionsStartOnly=true
{% if shard2a is defined and ansible_hostname == shard2a %}
PIDFile=/var/run/mongodb/{{ env }}/mongod-sh2-rs_a.pid
{% endif %}
{% if shard2b is defined and ansible_hostname == shard2b %}
PIDFile=/var/run/mongodb/{{ env }}/mongod-sh2-rs_b.pid
{% endif %}
{% if shard2c is defined and ansible_hostname == shard2c %}
PIDFile=/var/run/mongodb/{{ env }}/mongod-sh2-rs_c.pid
{% endif %}
Restart=on-failure
RestartSec=10s
Type=forking
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000
# locked memory
LimitMEMLOCK=infinity
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false
# Recommended limits for mongod as specified in
# https://docs.mongodb.com/manual/reference/ulimit/#recommended-ulimit-settings

[Install]
WantedBy=multi-user.target
